.table-wrap {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.table {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-auto-rows: 180px 1fr;
}

.table-header {
    display: grid;
    grid-template-columns: 211px 1fr 48px;
    grid-column-gap: 5px;
    align-items: center;
}

.table-header > .row-field > span {
    transform: rotate(-90deg);
}

.table-body {
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 24px;
    grid-row-gap: 12px;
}

.table-row {
    display: grid;
    grid-template-columns: 211px 1fr 48px;
    grid-column-gap: 5px;
    grid-auto-rows: 24px;
}

.table-row:hover {
    background-color: #E9E9E9;
}

.table-row:hover > .row-action > button {
    display: block;
}


.selected {
    background-color: rgb(255, 160, 160)!important;
}

.selected:hover {
    background-color: rgb(255, 160, 160)!important;
}

.selected > .row-description {
    color: black;
}


.row-name {
    display: grid;
    align-items: center;
    justify-items: start;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-name > button {
    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.row-name > button:focus {
    outline: none;
}

.row-name > input {
    width: 100%;
    height: 24px;
}

.row-field {
    display: grid;
    grid-auto-columns: 24px;
    grid-auto-flow: column;
    grid-column-gap: 24px;
    align-items: center;
    justify-items: center;
}

.row-field button {
    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.row-field button:focus {
    outline: none;
}

.row-description {
    color: gray;
    font-style: italic;
    /* display: none; */
    padding-left: 10px;
    line-height: 24px;
}

.field-item {
    display: grid;
    align-items: center;
    justify-items: center;
}

.row-action {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.row-action > button {
    display: none;
    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.newRow {
    background-color: rgb(210, 255, 206);
}

.newRow > .row-field button {
    color: rgb(155, 155, 155);
    cursor: default;
}

.newRow:hover {
    background-color: rgb(210, 255, 206);
}


.row-action > button:focus {
    outline: none;
}
